@import "tailwindcss";
@import "@heroui/styles"; 



@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-bg-primary: var(--bg-primary);
  --color-bg-secondary: var(--bg-secondary);
  --color-brand-primary: var(--primary);
  --color-brand-secondary: var(--secondary);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-accent-success: var(--accent-success);
  --color-border-main: var(--border-color);
}

:root {
  --bg-primary: #F8FAFC;
  --bg-secondary: #FFFFFF;
  --primary: #4F46E5;
  --secondary: #0284C7;
  --text-primary: #0F172A;
  --text-secondary: #64748B;
  --accent-success: #059669;
  --border-color: #E2E8F0;
}

.dark {
  --bg-primary: #0F172A;
  --bg-secondary: #1E293B;
  --primary: #6366F1;
  --secondary: #06B6D4;
  --text-primary: #F8FAFC;
  --text-secondary: #94A3B8;
  --accent-success: #10B981;
  --border-color: #334155;
}